gevent
gunicorn
markdown2
pymysql
Django==2.2.10
django-crispy-forms>=1.8.0  #1.7.2
django-formtools==2.1
django-import-export==1.2.0
django-reversion>=3.0.0
future==0.17.1
httplib2==0.12.3
six==1.12.0
ilds
xlsxwriter
django-markdown-deux
xlsxwriter
tablib==0.14.0
#diff_match_patch
#xlwt
#openpyxl
#odfpy
#pyyaml
MarkupPy

captcha
jdcal==1.4
odfpy==1.4.0
openpyxl==2.6.0
Pillow==5.4.1
pytz==2018.9
PyYAML==3.13
unicodecsv==0.14.1
xlrd==1.2.0
xlwt==1.3.0
et-xmlfile==1.0.1
future==0.17.1

defusedxml==0.5.0
diff-match-patch==20181111
django-ranged-response==0.2.0
django-simple-captcha==0.5.10
django-pure-pagination